body{
    margin: 0px;
    padding: 0px;
    background-color: white;

}

#main{
    height: 100vh;
    width: 100%;
    position: fixed;
    display:none;
}

#logoSection{
    height: 100%;
    width: 50%;
    background-color: #fcfcfc;
    box-shadow: 10px 0px 30px rgba(0, 0, 0, .4);
    position: absolute;
    z-index: 999;

}

#logoSection img, #logoSection h1{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
#logoSection h1{
    margin-top: 100px;
    font-family: arial black;
}

#menuSection{
    height: 100%;
    width: 50%;
    background-color: #f1f1f1;
    position: absolute;
    left: 50%;

}

#menuSection ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 30%;
    left: -1%;

}

#menuSection ul li{
    height: 100px;
    width: 350px;
    font-family: arial black;
    font-size: 55px;
    line-height: 100px;
    cursor: pointer;
}


.menu{
    height: 100px;
    width: 0px;
    background-color:#ffc200;
    display: flex;
    position: absolute;
    left: -50%;
    cursor: pointer;
    pointer-events: none;
    transition: all .5s;
}

.rotate{
    pointer-events: none;
}

#menuSection ul li:hover .menu{
    width: 350px;
}

#openMenu,#closeMenu{
    height: 60px;
    width:  80px;
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    z-index: 999;
    cursor: pointer;
    
}

#closeMenu{
    left: 100%;

}





